go 1.21.3

use (
	./cepsearch
	./contexts/server-timeout
	./multithreading/channels-buffering
	./multithreading/channels-directions
	./multithreading/channels-range
	./multithreading/channels-select
	./multithreading/channels-with-wait-groups
	./multithreading/goroutines-load-balancer
	./multithreading/mutex
	./multithreading/wait-groups
)
